
/* 
    Created on : Jun 28, 2017, 4:46:19 PM
    Author     : MichaelButnaru
**/
.buttoncalculate{
    -fx-graphic: url('../icons/car/Calculate.png');
}
.buttoncalculate:hover{
     -fx-graphic: url('../icons/car/calculate1.png');
    
}


.carButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/main/carOff.png');
}
.carButton:hover{
    -fx-graphic: url('../icons/main/carOn.png');
}
.planeButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-size: 50px;
    -fx-graphic: url('../icons/main/planeOff.png');
}
.planeButton:hover{
    -fx-graphic: url('../icons/main/planeOn.png');
}
.linkedInButton{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/main/linkedin.png');
}
.linkedInButton:hover{
        -fx-background-color: transparent;
        -fx-border-width: 0;
        -fx-graphic: url('../icons/main/linkedinOn.png');

}
.githubButton{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/main/github.png');
}
.githubButton:hover{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/main/githubOn.png');
}
.closeButton{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/main/closeOn.png');
}
.closeButton:hover{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/main/closeOff.png');
}
.closeCarButton{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/car/closeOn.png');
}
.closeCarButton:hover{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/car/closeOff.png');
}
.menuButton{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/car/menu.png');
}
.menuButton:hover{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/car/menuOn.png');
}
.linkedInCarButton{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/car/linkedInOn.png');
}
.linkedInCarButton:hover{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/car/linkedOff.png');
}
.githubCarButton{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/car/githubOn.png');
}
.githubCarButton:hover{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/car/githubOff.png');
}
.anchorPane{
    -fx-border-width: 0;
    -fx-background-color: null;
}
.closeButton1{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/car/close11.png');
}
.closeButton1:hover{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/car/close22.png');
}
.searchButton{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/plane/search.png');
}
.searchButton:hover{
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-graphic: url('../icons/plane/searchOn.png');
}
/*
*
*  TabPane Style for Plane Scene
*/
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tab-pane {
    -fx-tab-min-width: 90px;
}
.tab {
    -fx-background-insets: 0 1 0 1, 0 , 0;
}
.tab-pane .tab{
    -fx-background-color: white;  	
}
.tab-pane .tab:selected{
    -fx-background-color: #64B5F6;
}
.tab .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}
